/node_modules
/dump.rdb
/public/hot
/public/js
/public/css
/public/storage
/public/image
/public/document
/storage/*.key
/vendor
# .env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
dump.rdb
laravel-echo-server.json
package-lock.json
public/js/app.js
public/mix-manifest.json
package-lock.json
laravel-echo-server.json
public/mix-manifest.json
public/css/app.css
public/js/manifest.js
public/js/vendor.js
public/mix-manifest.json
# composer.lock
