/node_modules
/dump.rdb
/public/hot
/public/js
/public/css
/public/storage
/public/image
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
dump.rdb
laravel-echo-server.json
package-lock.json
public/js/app.js
public/mix-manifest.json
