.alert {
    font-size: 14px;
    z-index: 99;
    width: fit-content;
    right: 20px;
    position: absolute;
    animation: fadeInDown 0.5s linear;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 10px 4px;
    color: white;
    background-color: #1d851d;
    margin: 10px;
    border-radius: 10px;
}
