.alert {
    font-size: 16px;
    z-index: 99;
    width: fit-content;
    right: 20px;
    position: absolute;
    animation: fadeInDown 0.5s linear;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 4px 4px 4px;
    color: white;
    margin: 10px;
    border-radius: 10px;
}
.alert-success {
    background-color: #337ab7;
}
