.swal2-popup {
    font-size: 1.4rem !important;
}
.user-info-wrap {
    position: relative;
}

.user-info {
    position: absolute;
    top: 55px;
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: center;

}

.user-info__avt {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #FFAC3A
}

.user-info__name {
    display: block;
    text-align: center;
    color: #FFAC3A;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.header-link-logout {
    padding-right: 10px;
}

.dropdown-menu__user-info {
    top: 100px;
    left: -39px;
}

.dropdown-menu__user-info::before {
    content: '';
    top: -8px;
    right: 73px;
    position: absolute;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
}

.notice-list::-webkit-scrollbar {
    display: none;
}

.notice-nav a {
  position: relative;
  text-decoration: none;
  color: #000;
  text-align: left;
}

.notice-list {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: rgb(249 249 249 / 98%);;
  list-style: none;
  width: 400px;
  max-height: 600px;
  padding: 15px 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%);
}


.notice-item {
    padding: 5px;
    margin-bottom: 5px;

}

.notice-nav {
    cursor: pointer;
}

.notice-item:hover {
    background-color: #ccc;
    color: #000;
    border-radius: 15px;
}
.notice-item:hover .mark-as-read {
    color: #000;
}

.notice-item-wrap {
    max-height: 80px;
    display: flex;
    align-items: center;
}

.notice-item__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.notice-item-content-wrap {
    padding-left: 5px;
    width: 85%;
}
.active {
    color: #FFAC3A;
}
#logout-form{
    display: none;
}
.notice-icon{
    position: relative;
    font-size: 22px;
}
.count-notice{
    position: absolute;
    top: -8px;
    right: -6px;
    background-color: rgb(235, 64, 64);
    color: #fff;
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 16px;
}
.mark-as-read {
    color: #ccc;
}

.notification-item-list{
    padding: 10px 10px 0 10px;
    list-style: none;
}

.notification-item-list li {
    padding-bottom: 10px;
}

.logo-img{
  height: 150px;
}
.notification-icon {
  font-size: 20px;
}
/* Bell animation */

.bell{
  display:block;
  width: 40px;
  height: 40px;
  margin:50px auto 0;
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
/*  */