::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background-color: var(--red-color);
}

::selection {
    color: #fff;
    background-color: var(--red-color);
}

body {
    background-color: #f0f2f5;
}
ul {
    list-style: none;
}

a {
    cursor: pointer;
}
header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.slide-comment-list::-webkit-scrollbar-track,
.search-result-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
}

.slide-comment-list::-webkit-scrollbar {
    width: 2px;
    background-color: var(--red-color);
}

.search-result-list::-webkit-scrollbar {
    width: 7px;
    background-color: var(--red-color);
}

.slide-comment-list::-webkit-scrollbar-thumb,
.search-result-list::-webkit-scrollbar-thumb {
    background-color: var(--red-color);
}

.side-bar-left,
.side-bar-right {
    padding: 0 !important;
}
.side-bar-wrap,
.side-bar-category {
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.side-bar-heading {
    color: #fff;
    border-radius: 10px 10px 0 0;
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
}

.side-bar-footer {
    background-color: var(--primary-color);
    height: 15px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.button-sm {
    padding: 3px !important;
}

.primary-color {
    color: var(--primary-color) !important;
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}

.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}

.navbar-custom {
    padding: 15px 0;
}

.logo-tlu {
    max-width: 50%;
    height: auto;
    vertical-align: middle;
}

.icon-search-header {
    color: var(--red-color) !important;
    font-size: 20px !important;
}

.search-result-list {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    max-height: 50vh;
    max-width: 100%;
    overflow-y: hidden;
    display: none;
    transition: all linear 0.2s;
}

.search-result-list:hover {
    overflow-y: scroll;
}

.search-result-item {
    padding: 15px;
    border-radius: 5px;
}

.search-result-item:hover {
    background-color: var(--primary-color);
}

.search-result-item:hover .search-result-item__link {
    color: #fff !important;
}

.swal2-popup {
    font-size: 1.4rem !important;
}
.user-info-wrap {
    position: relative;
}

.user-info {
    position: absolute;
    display: flex;
    right: 71px;
    top: -70px;
    flex-direction: column;
    align-items: center;
}

.user-info__avt {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.user-info__name {
    display: block;
    text-align: center;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.header-link-logout {
    padding-right: 10px;
}

.dropdown-menu__user-info {
    top: 66px;
    left: -62px;
}

.notice-nav a {
    position: relative;
    text-decoration: none;
    color: #000;
    text-align: left;
}

.notification-container {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: rgb(235 224 224 / 98%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
}

.notice-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.notice-list::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
}

.notice-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.notice-list {
    list-style: none;
    padding: 5px;
    scroll-behavior: smooth;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 400px;
    max-height: 600px;
}

.notice-list:hover {
    overflow-y: scroll;
}

.header-noti-wrap {
    padding: 10px 0;
    background-color: var(--primary-color);
    margin: -6px -6px 5px -6px;
    border-radius: 15px 15px 0 0;
}

.header-noti-wrap a {
    text-align: center;
    color: #fff;
}

.remove-all-noti-link {
    border-left: 1px solid #fff;
}

.notice-item {
    padding: 5px;
    margin-bottom: 5px !important;
}

.notice-nav {
    cursor: pointer;
}

.notice-item:hover {
    background-color: #ccc;
    color: #000;
    border-radius: 15px;
}

.notice-item-wrap {
    max-height: 80px;
    display: flex;
    align-items: center;
}

.notice-item__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.notice-item-content-wrap {
    padding-left: 5px;
    width: 85%;
}
.active {
    color: #d91e1e !important;
}
#logout-form {
    display: none;
}
.notice-icon {
    position: relative;
    font-size: 25px;
}

.unread {
    background-color: #ffeace;
}

.notification-item-list {
    padding: 10px 10px 0 10px;
    list-style: none;
}

.notification-item-list li {
    padding-bottom: 5px;
}

.logo-img {
    height: 200px;
}
.notification-icon {
    font-size: 17px;
    color: var(--primary-color);
}
.fake-element {
    position: relative;
}
.number-notification {
    position: absolute;
    border: 1px solid #fff;
    left: 52%;
    top: -50px;
    font-size: 8px;
    color: #fff;
    background-color: var(--red-color);
    padding: 2px 5px;
    border-radius: 50%;
}

.no-notification-img {
    height: 200px;
    margin: -6px -5px 5px -5px;
    border-radius: 50;
    border-radius: 15px 15px 0 0;
}

.label-required::after {
    content: "*";
    color: var(--red-color);
    padding-left: 2px;
}
.button-primary-outline,
.button-primary {
    text-decoration: none !important;
    border: 1px solid var(--primary-color);
    transition: all linear 0.2s;
}

.button-primary {
    color: #fff;
    background-color: var(--primary-color);
}

.button-primary:hover {
    color: var(--primary-color);
    background-color: #fff;
}

.button-primary-outline {
    color: var(--primary-color);
    background-color: #fff;
}

.button-primary-outline:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* Bell animation */

.bell {
    display: block;
    width: 40px;
    height: 40px;
    margin: 50px auto 0;
    -webkit-animation: ring 4s 0.7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s 0.7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s 0.7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }
    1% {
        -webkit-transform: rotateZ(30deg);
    }
    3% {
        -webkit-transform: rotateZ(-28deg);
    }
    5% {
        -webkit-transform: rotateZ(34deg);
    }
    7% {
        -webkit-transform: rotateZ(-32deg);
    }
    9% {
        -webkit-transform: rotateZ(30deg);
    }
    11% {
        -webkit-transform: rotateZ(-28deg);
    }
    13% {
        -webkit-transform: rotateZ(26deg);
    }
    15% {
        -webkit-transform: rotateZ(-24deg);
    }
    17% {
        -webkit-transform: rotateZ(22deg);
    }
    19% {
        -webkit-transform: rotateZ(-20deg);
    }
    21% {
        -webkit-transform: rotateZ(18deg);
    }
    23% {
        -webkit-transform: rotateZ(-16deg);
    }
    25% {
        -webkit-transform: rotateZ(14deg);
    }
    27% {
        -webkit-transform: rotateZ(-12deg);
    }
    29% {
        -webkit-transform: rotateZ(10deg);
    }
    31% {
        -webkit-transform: rotateZ(-8deg);
    }
    33% {
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        -webkit-transform: rotateZ(-4deg);
    }
    37% {
        -webkit-transform: rotateZ(2deg);
    }
    39% {
        -webkit-transform: rotateZ(-1deg);
    }
    41% {
        -webkit-transform: rotateZ(1deg);
    }

    43% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }
    1% {
        -moz-transform: rotate(30deg);
    }
    3% {
        -moz-transform: rotate(-28deg);
    }
    5% {
        -moz-transform: rotate(34deg);
    }
    7% {
        -moz-transform: rotate(-32deg);
    }
    9% {
        -moz-transform: rotate(30deg);
    }
    11% {
        -moz-transform: rotate(-28deg);
    }
    13% {
        -moz-transform: rotate(26deg);
    }
    15% {
        -moz-transform: rotate(-24deg);
    }
    17% {
        -moz-transform: rotate(22deg);
    }
    19% {
        -moz-transform: rotate(-20deg);
    }
    21% {
        -moz-transform: rotate(18deg);
    }
    23% {
        -moz-transform: rotate(-16deg);
    }
    25% {
        -moz-transform: rotate(14deg);
    }
    27% {
        -moz-transform: rotate(-12deg);
    }
    29% {
        -moz-transform: rotate(10deg);
    }
    31% {
        -moz-transform: rotate(-8deg);
    }
    33% {
        -moz-transform: rotate(6deg);
    }
    35% {
        -moz-transform: rotate(-4deg);
    }
    37% {
        -moz-transform: rotate(2deg);
    }
    39% {
        -moz-transform: rotate(-1deg);
    }
    41% {
        -moz-transform: rotate(1deg);
    }

    43% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(14deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }

    43% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
/*  */

.status-name-link {
    text-decoration: none !important;
    font-weight: bold;
}

.home-section {
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
    border-radius: 10px;
}

.title-section-page {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 22px;
}

.top-list {
    list-style: none;
}
.top-item__link {
    text-decoration: none !important;
    color: var(--primary-color);
    font-size: 16px;
}
.top-item__link:hover {
    color: var(--red-color);
    transition: all linear 0.2s;
    font-weight: 600;
}
.top-item__link span {
    color: var(--red-color);
    font-weight: 600;
}
.counselor-item-wrap,
.counselor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counselor-item__avt {
    height: 100px;
    width: auto;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.couselor-item-info ul {
    list-style: none;
    text-align: center;
}

.couselor-item-info li {
    padding: 5px 0;
}

.button-active {
    border-color: var(--red-color);
    background-color: var(--red-color);
    color: #fff;
}

.button-active-outline {
    border-color: var(--red-color);
    background-color: #fff;
    color: var(--red-color);
}

.button-active-outline:hover {
    background-color: var(--red-color);
    color: #fff;
}

.button-active:hover {
    background-color: #fff;
    color: var(--red-color);
}

.navigation-button-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counselor-info-detail__list {
    list-style: none;
}

.counselor-info-detail__list li {
    padding: 5px 0;
    font-size: 20px;
}

.list-counselor-sidebar {
    padding-left: 10px;
    flex-direction: column;
}
.footer-agile-info {
    margin-top: 20px;
    margin-bottom: -21px;
}
.footer-agile-info,
.copyright {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.copyright {
    border-top: 1px solid #fff;
}

.counselor-button-sidebar {
    cursor: pointer;
    border-radius: 6px;
    padding: 3px 5px !important;
    font-size: 11px !important;
}

.post-container {
    color: var(--primary-color);
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.user-post-wrap {
    display: flex;
    align-items: center;
}

.post-other-info {
    display: flex;
    flex-direction: column;
}

.user-post-name {
    font-weight: bold;
    font-size: 16px;
}

.user-post-avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.post-content-title {
    font-weight: bold;
    font-size: 32px;
    display: block;
    padding-bottom: 20px;
}

.post-content-body {
    border-top: 3px solid var(--primary-color);
    padding-top: 20px;
    overflow-y: hidden;
    transition: all linear 0.5s;
}

.limit-line,
.limit-line-2,
.limit-line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.limit-line {
    -webkit-line-clamp: 10; /* number of lines to show */
    line-clamp: 10;
}

.limit-line-2 {
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
}

.limit-line-3 {
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
}

.post-image {
    padding-top: 10px;
}

/* Comment */
.post-comment {
    border-top: 1px solid #ccc;
    padding-top: 30px;
}

.sort-comment {
    float: right;
}
.sort-title {
    color: #5f6673;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.comment-input-wrap,
.comment-input-wrap-edit {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-input-wrap-edit {
    display: none;
}

.unlimit-number-comment {
    display: none;
}

.input-comment {
    padding: 10px;
    background-color: #f0f2f5;
    border-radius: 20px;
    border: none;
    outline: none;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    resize: none;
    font-size: 14px;
    overflow-x: hidden;
    height: 20px;
    min-height: 40px;
}

.input-comment::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
}

.input-comment::-webkit-scrollbar {
    width: 5px;
    background-color: var(--red-color);
}

.input-comment::-webkit-scrollbar-thumb {
    background-color: var(--red-color);
}

.comment-input-left,
.comment-input-right {
    padding-right: 0;
    padding-left: 0;
}

.comment-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.comment-item-content {
    width: 100%;
    overflow-x: hidden;
}
.comment-item-content-right {
    background-color: #f0f2f5;
    padding: 7px 14px;
    border-radius: 15px;
    margin-left: 15px;
}

.comment-item-author {
    font-size: 10px;
    color: #5f6673;
}

a.comment-item-content-left {
    color: var(--primary-color);
    font-weight: bold;
}

.comment-item:hover .comment-item-control {
    opacity: 1;
}
.post-control,
.comment-item-control {
    margin-left: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.comment-item-control {
    opacity: 0;
}
.comment-item-control:hover,
.post-control:hover {
    background-color: #f0f2f5;
}

.read-more-btn {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
}

.dropdown-menu-action-comment {
    top: -87px;
    left: -41px;
    border-radius: 10px;
}

.home-about-image {
    width: 100%;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.number-image {
    width: 100px;
    height: auto;
}

.slide-item-post-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 auto;
    color: #fff !important;
    text-align: center;
}

.top-post-slide-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    color: #fff !important;
}

.slide-item-post-authour-avt {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.slide-item-post-content {
    font-size: 14px;
    opacity: 0.8;
    margin: 10px 0;
    max-height: 50%;
}

.slide-item-post-author-name {
    font-size: 16px;
    font-weight: bold;
}

.slide-comment-list {
    position: absolute;
    top: 20%;
    left: 69%;
    font-size: 12px;
    max-width: 23%;
    width: 23%;
    max-height: 64%;
    color: #000;
    overflow-y: hidden;
}

.slide-comment-list:hover {
    overflow-y: scroll;
}

.slide-comment-list .user-post-avt {
    height: 30px;
    width: 30px;
}

.slide-item-post-author-name,
.slide-item-post-authour-avt {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.document-wrap {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 0;
    border-radius: 10px;
    margin-bottom: 5px;
}

.document-thumb-img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
}
.document-wrap {
    display: flex;
    padding-left: 20px;
}

.document-left {
    display: flex;
    flex-direction: column;
}

.document-left-info {
    padding: 0 10px;
}

.document-left-info-name {
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none !important;
    padding-top: 5px;
}

.document-left-info-name:hover {
    color: var(--red-color);
}
#header-search-form {
    margin: 0;
}
.search-and-filter {
    padding: 20px 10px 0px 26px !important;
}

.search-and-filter button {
    width: 100%;
}
.panel-primary > .panel-heading,
.header-modal-post {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.w3l_categories ul li a {
    font-size: 15px;
}
.navbar-nav {
    float: left;
}
.panel-primary > .panel-heading,
.header-modal-post {
    background-color: #fff !important;
}

.panel-title {
    color: var(--primary-color);
}

.panel-custom {
    border-top: 3px solid #007bff;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
}

.heading-faq {
    font-size: 1.8rem;
}
.document-law-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #323639;
}
