.only-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    html {
        overflow-x: hidden;
    }
    .hide-on-mobile {
        display: none;
    }
    .only-mobile {
        display: block;
    }
    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }
    .nav-bar-icon {
        font-size: 25px;
    }
    .logo-tlu {
        max-width: 50%;
    }

    .title-section-page {
        font-size: 18px;
    }
    .number-image {
        width: 80px;
    }
    .copyright {
        margin-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-wrap {
        position: fixed;
        background-color: var(--primary-color);
        z-index: 1000;
        left: 0;
        right: 0;
        bottom: 0;
        top: 70px;
        width: 100%;
        display: none;
    }
    .navbar-mobile-list {
        padding: 20px;
    }
    .navbar-mobile-item {
        padding-top: 20px;
        color: #fff;
        display: block;
        font-size: 16px;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
    }
    #create-post {
        font-size: 11px;
    }
    .user-info__name {
        color: #fff;
    }
    .user-info-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 10px 0;
    }
    .dropdown-menu__user-info {
        left: 0;
    }
    .dropdown-menu > li > a {
        text-align: left;
    }
    .post-header-request-mobile {
        display: block;
    }
    .btn-group-wrap {
        float: none !important;
    }
    .comment-input-wrap {
        justify-content: start;
    }
    .comment-input-left {
        margin-right: 5px;
    }
    .menu-action-mobile {
        right: 0;
        left: unset;
    }
    .list-category-icon {
        position: fixed;
        z-index: 90;
        left: 0;
        top: 50%;
        background-color: #fff;
        padding: 6px;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        color: var(--red-color);
        font-size: 18px;
    }
    .side-bar-left {
        position: fixed;
        z-index: 90;
        width: 70vw;
        top: 69px;
        left: -273px;
        bottom: 0;
        height: 100vh;
        transition: all ease-in-out 0.15s;
    }

    .side-bar-heading {
        text-align: left;
        padding-left: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .close-list-category {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .side-bar-category {
        overflow-y: scroll;
        max-height: 86vh;
    }
    .side-bar-category:hover {
        overflow-y: scroll;
    }

    .side-bar-category::-webkit-scrollbar {
        background-color: var(--primary-color);
        width: 3px;
    }

    .side-bar-category::-webkit-scrollbar-thumb {
        background-color: var(--red-color);
    }
    .comment-item-control {
        opacity: 1;
    }
    .dropdown-menu-action-comment {
        min-width: 100px;
    }
    .comment-item-content-left {
        padding-left: 0;
    }
    .icon-search-header {
        font-size: 24px;
        padding: 0 24px;
    }
    .notification-icon {
        font-size: 23px;
    }
    .bell {
        margin-top: 20px;
        width: auto;
    }
    .notification-container {
        left: -18%;
        width: 90vw;
    }
    .notice-list {
        width: 100%;
    }
    .header-noti-wrap a {
        font-size: 13px;
    }
    .notification-item-list {
        font-size: 12px;
    }
    .filter-input {
        padding-bottom: 13px;
    }
    .comment-input-right {
        padding-left: 8px;
    }
    .no-notification-img {
        width: 90vw;
        height: auto;
    }
    .notification-container {
        top: 49px;
    }
    .document-wrap {
        display: block;
    }
    .document-law-footer {
        background-color: #fff;
    }
    .document-left-info {
        padding: 0;
    }
    .comment-item-content-right {
        margin-left: 23px;
    }
}
