#avt-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#create-post {
    border-radius: 40px;
    cursor: pointer;
}

.modal-content {
    border-radius: 20px;
}

.modal-header {
    border-radius: 17px 17px 0 0;
}

.panel {
    border-radius: 20px;
}

.panel-heading {
    border-radius: 17px 17px 0 0;
}

.panel-footer {
    border-radius: 0px 0px 17px 17px;
}

.btn-modal-post {
    border-radius: 20px;
}

.post-info {
    list-style: none;
    padding: 27px 0;

}

.post-info i {
    margin-right: 5px;
}

.post-info__link {
    text-decoration: none !important;
    color: #fca003;
    font-size: 14px;
    padding: 5px 0;
    display: block;
}

.error-message {
    color: red;
    font-size: 14px;
}

.btn-delete {
    cursor: pointer;
    color: red;
}

.btn-edit {
    color: #0c84ff;
    cursor: pointer;
}


.post-status-solved {
    color: green !important;
    cursor: pointer;
}

.post-status-unsolved {
    color: red !important;
    cursor: pointer;
}
.select2-container {
    width: 100% !important;
}
.select2-selection__choice{
    background-color: #28a745 !important;
}
.select2-selection__choice__remove{
    color: red !important;
}